.gray {
    color: gray;
    padding-top:7px;
}

.gray-bg {
    background-color: gray; 
    border: 0px;
}

.modal-footer {
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
