<ng-template #modalContent let-close="close" >    
    <div class="modal-header">
       <h3 class="modal-title"> Event Details</h3>
        <button type="button" class="close" (click)="closeModal()"> 
          <span aria-hidden="true">&times;</span>
        </button>
    </div>   
    <div class="modal-body" >   
        <field-control-error
        [showError]="this.showErrorDiv"
        [errorMsg]="this.errorMessage">
      </field-control-error>    
       <div class='container'>
       
          <div class='row'>
             <label class="col-3 col-form-label">Event Name:</label>
             <div class="col-9 gray">      
                {{invitedEvent.title}}
             </div>
          </div>
          <div class='row'>
              <label class="col-3 col-form-label">Invited by:</label>
              <div class="col-9 gray">      
                 {{inviteOwnerName}}
              </div>
           </div>
          <div class='row'>
             <label class="col-3 col-form-label">Start Date:</label>
             <div class="col-9 gray">      
                {{invitedEvent.start | FormatedDate}} 
             </div>
          </div>
          <div class='row'>
             <label class="col-3 col-form-label">End Date:</label>
             <div class="col-9 gray">      
                {{invitedEvent.end | FormatedDate}} 
             </div>
          </div>                 
       </div> <!-- container -->
    </div> <!-- modal body -->
    <div class="modal-footer">      
       <button [disabled]="this.showErrorDiv" (click)="acceptInvite()"[ngClass]="{ 'gray-bg' : this.showErrorDiv }" type="submit" class="btn btn-primary" type="submit">
         Accept
        </button>
       <button type="button" class="btn btn-danger" (click)="deleteInvite()" >
        Reject
      </button>
    </div>    
  </ng-template>