

.col-2 {
    border: 1px solid lightgray;
    padding: 15px;
}

.col-3 {
    border: 1px solid lightgray;
    padding: 15px;
}

.col-1 {
    border: 1px solid lightgray;
    padding: 15px;
}

.header {
    font-weight: bold;
    padding: 5px;
}

.cont {
    margin-left: 20px;
    margin-right: 20px;
}

.red-border {
    border: 2px solid red;
}
