<!-- Modal que abre quando voce clica em um dia. Permite voce editar ou adicionar novos eventos -->
<ng-template #modalContent let-close="close" >
  <form #f="ngForm" (ngSubmit)="submitModal()" >
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="closeModal()"> 
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <h3>
        Edit events
        <!-- Botao que adiciona um novo evento em branco, no array newEvents -->
        <div
          class="btn btn-primary pull-right"
          (click)="createNewEventField()">
          Add new
      </div>
        <div class="clearfix"></div>
      </h3>
      <field-control-error
        [showError]="this.showErrorDiv"
        [errorMsg]="this.errorMessage">
      </field-control-error> 
      <br>
   <div class="cont">
       
          <div class="row">
            <div class="col-3 header" scope="col">Title</div>
            <div class="col-1 header" scope="col"><!--Primary -->Color</div>
            <!--<div class="col-2">Secondary color</div> -->
            <div class="col-3 header" scope="col">Starts at</div>
            <div class="col-3 header" scope="col">Ends at</div>
            <div class="col-1 header" scope="col">Remove</div>
            <div class="col-1 header" scope="col">Invite</div>
          </div>
       
           <!-- Colunas da tabela que seguram os NOVOS EVENTOS (aparece em cima)-->
            <div class="row" *ngFor="let newEvent of newEvents; let index = index">
                <div class="col-3">
                  <input
                    type="text"
                    class="form-control" scope="row"
                    [(ngModel)]="newEvent.title" [ngModelOptions]="{standalone: true}"
                    autofocus required>
                </div>
                <div class="col-1">
                  <input
                    type="color"
                    [(ngModel)]="newEvent.color.primary" [ngModelOptions]="{standalone: true}"
                  >
                </div>
                <!-- <div class="col-2">
                  <input
                    type="color"
                    [(ngModel)]="newEvent.color.secondary" [ngModelOptions]="{standalone: true}"
                  >
                </div> -->
                <div class="col-3"[ngClass]="{ 'red-border' : !newEvent.dateIsValid }">
                  <mwl-demo-utils-date-time-picker
                    [(ngModel)]="newEvent.start" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="refreshEmitter.emit()" 
                    [event] = "newEvent" 
                    [canEdit]="true"        
                    placeholder="Not set">
                  </mwl-demo-utils-date-time-picker>
                </div>                
                <div class="col-3"[ngClass]="{ 'red-border' : !newEvent.dateIsValid }">
                  <mwl-demo-utils-date-time-picker 
                    [(ngModel)]="newEvent.end" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="refreshEmitter.emit()"
                    [event] = "newEvent"  
                    [canEdit]="true"       
                    placeholder="Not set">
                  </mwl-demo-utils-date-time-picker>
                </div>
                <div class="col-1">
                  <button
                    class="btn btn-danger"                    
                    (click)="removeNewEventField(index)">
                    Delete
                  </button>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary" disabled>
                      Invite
                    </button>
                  </div>
              </div>

          <!-- Tabela que segura os EVENTOS JÁ ADICIONADOS -->
          <div class="row" *ngFor="let event of eventsToDisplay; let index = index">
            <div class="col-3">
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title" [ngModelOptions]="{standalone: true}"
                required>
            </div>
            <div class="col-1">
              <input
                type="color"
                [(ngModel)]="event.color.primary" [ngModelOptions]="{standalone: true}"
              >
            </div>
            <!-- <div class="col-2">
              <input
                type="color"
                [(ngModel)]="event.color.secondary" [ngModelOptions]="{standalone: true}"
              >
            </div> -->
            <div class="col-3"[ngClass]="{ 'red-border' : !event.dateIsValid }">                            
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="event.start" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="refreshEmitter.emit()"
                [event] = "event"       
                [canEdit]="event.isTheOwner"                         
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
              <time-picker *ngIf="!event.isTheOwner" [time]="event.start"></time-picker>  
            </div>
            
           
            <div class="col-3" [ngClass]="{ 'red-border' : !event.dateIsValid }">
              <mwl-demo-utils-date-time-picker
                [(ngModel)]="event.end" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="refreshEmitter.emit()"
                [event] = "event"
                [canEdit]="event.isTheOwner"                       
                placeholder="Not set">
              </mwl-demo-utils-date-time-picker>
              <time-picker *ngIf="!event.isTheOwner" [time]="event.end"></time-picker>              
              
            </div>
            <div class="col-1">
              <button
                class="btn btn-danger"
                (click)="deleteEventOnModal(event)">
                Delete
              </button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="requestOpenInviteModal(event)">
                  Invite
                </button>
              </div>
          </div>
        </div>
  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" type="submit">Save</button>
    </div>
  </form>
  </ng-template>