<div class="container" style="width: 50%;">
<form [formGroup]="form" (ngSubmit)="submitLogin()">
  <h2>Login</h2>

  <div class="form-group" [ngClass]="applyCssError('username')">

  <field-control-error
    [showError]="this.invalidLogin"
    errorMsg="Username or password invalid!">
  </field-control-error> 

  <field-control-error
    [showError]="this.serverNotResponding"
    errorMsg="We're having some technical difficulties at the moment. Please try again later.">
  </field-control-error>   

    <label for="username">Email address*:</label>
    <input type="email" class="form-control" formControlName="username" id="username" aria-describedby="emailHelp" placeholder="example@email.com"/>

    <field-control-error
          [showError]="verifyValidTouched('username')"
          errorMsg="E-mail is required.">
    </field-control-error>    
    <small *ngIf="!verifyValidTouched('username')" id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

  </div>

  <div class="form-group" [ngClass]="applyCssError('password')">
    <label for="password">Password*:</label>
    <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password" >

    <field-control-error
          [showError]="verifyValidTouched('password')"
          errorMsg="Password is required.">
    </field-control-error>    

  </div>

  <button class="btn btn-primary" type="submit">Login</button>
</form>
</div>
<br><br>
