<!-- Modal que abre quando voce clica em um dia. Permite voce editar ou adicionar novos eventos -->
<ng-template #modalContent let-close="close" >
  <form *ngIf="!this.showSuccessDiv" #f="ngForm" (ngSubmit)="submitModal(f)" >
  <div class="modal-header">
     <h5 class="modal-title">Invite Users</h5>
      <button type="button" class="close" (click)="closeModal()"> 
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" >
     <h3>
        Event Details
        <div class="clearfix"></div>
     </h3>
     <div class='container'>
        <div class='row'>
           <label class="col-3 col-form-label">Event Name:</label>
           <div class="col-9 gray">      
              {{eventToInvite.title}}
           </div>
        </div>
        <div class='row'>
           <label class="col-3 col-form-label">Start Date:</label>
           <div class="col-9 gray">      
              {{eventToInvite.start | FormatedDate}} 
           </div>
        </div>
        <div class='row'>
           <label class="col-3 col-form-label">End Date:</label>
           <div class="col-9 gray">      
              {{eventToInvite.end | FormatedDate}} 
           </div>
        </div>
        <hr>
        <h4>
           Users to Invite
           <div class="clearfix"></div>
        </h4>
        <div class="form-group">
           <div *ngFor="let invitedUser of invitedUsers; let index = index"  class='row' style="padding: 5px;">
              <div class="col-10"> 
                 <input type='text' 
                  
                 class='form-control' 
                 placeholder="example@email.com" 
                 name='invitedUser{{index}}'
                 [(ngModel)]="this.invitedUsers[index].username"
                 (blur)="validateInvitedUser(invitedUsers[index],eventToInvite.id)">   

                 <div *ngIf="invitedUsers[index].notFound" class="text-danger">
                    User not found.
                </div>
                <div *ngIf="invitedUsers[index].alreadyInvited" class="text-danger">
                    This user was already invited.
                </div>
                <div *ngIf="invitedUsers[index].selfInvited" class="text-danger">
                    You cannot invite yourself to your own event.
                </div>
              </div>
           </div> <!-- ngFor -->

           <div class="row"  style="padding: 5px;">
            <div class="col-10"> 
                <input 
                    type='text' 
                     
                    class='form-control' 
                    placeholder='example@email.com' 
                    name='latestInvitedUser'
                    [(ngModel)]="latestInvitedUser.username" 
                    (blur)="validateInvitedUser(latestInvitedUser, eventToInvite.id)"                   
                >     
                
                <div *ngIf="latestInvitedUser.notFound" class="text-danger">
                    User not found.
                </div>
                <div *ngIf="latestInvitedUser.alreadyInvited" class="text-danger">
                    This user was already invited.
                </div>
                <div *ngIf="latestInvitedUser.selfInvited" class="text-danger">
                    You cannot invite yourself to your own event.
                </div>
            </div>
            <div class="col-1"> 
                <input type="button" class="btn" style="text-align: center;" (click)="addInputField()" value='+' />
            </div>
            <div class="col-1"> 
                <input type="button" *ngIf="(invitedUsers.length > 0)" class="btn" style="text-align: center;" (click)="removeInputField()" value='-' />
            </div>
          </div>

        </div>  <!-- form group -->
     </div> <!-- container -->
  </div> <!-- modal body -->
  <div class="modal-footer">
     <button type="button" class="btn btn-primary" type="submit">Invite</button>
     <button type="button" class="btn btn-danger" (click)="closeModal()"> 
        Cancel
      </button>     
  </div>
  </form>
  <div *ngIf="this.showSuccessDiv">    
    <div class="modal-header">
        <h5 class="modal-title">Invite Users</h5>
        <button type="button" class="close" (click)="closeModal()"> 
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="text-align:center;">
        <img src="assets/checkmark.png" alt="" width="200" height="200"/>
        <br>
        <h2>Users invited sucessfully!</h2>
    </div> <!-- modal body -->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">Okay</button>
    </div>    
  </div>
</ng-template>