<div class="form-inline waves-effect waves-light" >
    <div ngbDropdown placement="bottom-right" class="d-inline-block">
       <button class="form-control mr-sm-2"  id="dropdownBasic1" ngbDropdownToggle>Invites (<span [ngClass]="{'red bold': (this.invites.length > 0)}">{{this.invites.length}}</span>) </button>
       <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="text-align: right;">

          <button *ngIf="invites.length == 0" class="dropdown-item">
            No invites
          </button>   

          <div *ngFor="let invite of invites">
             <button 
                class="dropdown-item"
                (click)="requestOpenInvitesAcceptModal(invite)">
                  {{invite.title}}
                </button>                                  
          </div>

       </div>
    </div>
 </div>
 