<div class="container">
                
  <div class="row">
    <div class="col-sm-12">
      <h2>You have logged out</h2>
    </div>
  </div>                         
  <div class="row">
    <div class="col-sm-12">
      You will be redirected soon. <a routerLink="">Click here</a> if your browser doesn't redirect you.
    </div>
  </div>                         
  <div class="row">
    <div class="col-sm-12 homeButton">
      <p><button routerLink="" class="btn btn-primary" >Home</button></p>
    </div>
  </div>                         
  
    
      

</div>