/* You can add global styles to this file, and also import other style files */
.myCustomFooter {
    background-color: #007EF7; 
    color: white; 
    padding-top: 20px;

    left: 0;
    width: 100%;
    bottom: 0;
  }

.myCustomFooter a {
color: white; 

}

/* Faz o modal do edit ficar grande */
.modal-lg {
    max-width: 80%;
}

/* Faz o modal do invite ficar maior */
.modal-sm {
    max-width: 55%;
}

.ng-invalid.ng-touched:not(form){
    border: 2px solid red;
}

.textCenter {
    text-align: center;
}
