<fieldset _ngcontent-c14="">
  <div _ngcontent-c14="" class="ngb-tp">
    <div _ngcontent-c14="" class="ngb-tp-hour">
      <!--bindings={
"ng-reflect-ng-if": "true"
}--><button disabled _ngcontent-c14="" class="btn btn-link ng-star-inserted" type="button" ng-reflect-klass="btn btn-link" ng-reflect-ng-class="[object Object]">
        <span _ngcontent-c14="" class="chevron"></span>
        <span _ngcontent-c14="" class="sr-only">Increment hours</span>
      </button>
      <input disabled [ngModel]="this.hours" _ngcontent-c14="" aria-label="Hours" class="form-control" maxlength="2" placeholder="HH" size="2" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]">
      <!--bindings={
"ng-reflect-ng-if": "true"
}--><button disabled _ngcontent-c14="" class="btn btn-link ng-star-inserted" type="button" ng-reflect-klass="btn btn-link" ng-reflect-ng-class="[object Object]">
        <span _ngcontent-c14="" class="chevron bottom"></span>
        <span _ngcontent-c14="" class="sr-only">Decrement hours</span>
      </button>
    </div>
    <div _ngcontent-c14="" class="ngb-tp-spacer">:</div>
    <div _ngcontent-c14="" class="ngb-tp-minute">
      <!--bindings={
"ng-reflect-ng-if": "true"
}--><button disabled _ngcontent-c14="" class="btn btn-link ng-star-inserted" type="button" ng-reflect-klass="btn btn-link" ng-reflect-ng-class="[object Object]">
        <span _ngcontent-c14="" class="chevron"></span>
        <span _ngcontent-c14="" class="sr-only">Increment minutes</span>
      </button>
      <input disabled [ngModel]="this.minutes" _ngcontent-c14="" aria-label="Minutes" class="form-control" maxlength="2" placeholder="MM" size="2" type="text" ng-reflect-klass="form-control" ng-reflect-ng-class="[object Object]">
      <!--bindings={
"ng-reflect-ng-if": "true"
}--><button disabled _ngcontent-c14="" class="btn btn-link ng-star-inserted" type="button" ng-reflect-klass="btn btn-link" ng-reflect-ng-class="[object Object]">
        <span _ngcontent-c14="" class="chevron bottom"></span>
        <span _ngcontent-c14="" class="sr-only">Decrement minutes</span>
      </button>
    </div>
    <!--bindings={
"ng-reflect-ng-if": "false"
}-->
    <!--bindings={
"ng-reflect-ng-if": "false"
}-->
    <!--bindings={
"ng-reflect-ng-if": "true"
}--><div _ngcontent-c14="" class="ngb-tp-spacer ng-star-inserted"></div>
    <!--bindings={
"ng-reflect-ng-if": "true"
}--><div _ngcontent-c14="" class="ngb-tp-meridian ng-star-inserted">
      <button disabled _ngcontent-c14="" class="btn btn-outline-primary" type="button" ng-reflect-klass="btn btn-outline-primary" ng-reflect-ng-class="[object Object]">
        <div *ngIf="time.getHours() >= 12">
          PM
      </div>
      <div *ngIf="time.getHours() < 12">
          AM
      </div>
      </button>
    </div>
  </div>
</fieldset>