<ng-template #modalContent let-close="close" >    
    <div class="modal-header">
       <h3 class="modal-title"> Event Details</h3>
    </div>   
    <div class="modal-body" >   
        <field-control-error
        [showError]="true"
        [errorMsg]="this.errorMessage">
      </field-control-error>    
       <div class='container'> 
          <div class='row'>
        <div class="col-6">      
          <h2>Event1: </h2>
            <div class='row'>
              <label class="col-3 col-form-label">Event Name:</label>
              <div class="col-9 gray">      
                  {{conflictedEvent1.title}}
              </div>
            </div>            
            <div class='row'>
              <label class="col-3 col-form-label">Start Date:</label>
              <div class="col-9 gray">      
                  {{conflictedEvent1.start | FormatedDate}} 
              </div>
            </div>
            <div class='row'>
              <label class="col-3 col-form-label">End Date:</label>
              <div class="col-9 gray">      
                  {{conflictedEvent1.end | FormatedDate}} 
              </div>
            </div>      
          </div> <!-- col md 6 -->   


          <div class="col-6">      
              <h2>Event 2: </h2>
              <div class='row'>
                <label class="col-3 col-form-label">Event Name:</label>
                <div class="col-9 gray">      
                    {{conflictedEvent2.title}}
                </div>
              </div>
    
              <div class='row'>
                <label class="col-3 col-form-label">Start Date:</label>
                <div class="col-9 gray">      
                    {{conflictedEvent2.start | FormatedDate}} 
                </div>
              </div>
              <div class='row'>
                <label class="col-3 col-form-label">End Date:</label>
                <div class="col-9 gray">      
                    {{conflictedEvent2.end | FormatedDate}} 
                </div>
              </div>      
            </div> <!-- col md 6 event2 -->    
          </div>    

      </div>  <!-- container -->
    </div> <!-- modal body -->
    <div class="modal-footer">      
       <button (click)="deleteEvent(2)" class="btn btn-primary" >
         Keep Event 1
        </button>
       <button type="button" class="btn btn-danger" (click)="deleteEvent(1)" >
        Keep Event 2
      </button>
    </div>    
  </ng-template>